[Desktop Entry]
Name=Schism Tracker
Name[pl]=Schism Tracker
Comment=Impulse Tracker clone
Comment[pl]=Klon Impulse Trackera
TryExec=schismtracker
Exec=schismtracker %f
Icon=schismtracker
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Audio;Sequencer;
MimeType=audio/x-mod
# vi: encoding=utf-8
