[Desktop Entry]
Name=Schism Tracker
Name[pl]=Schism Tracker
Comment=Impulse Tracker clone
Comment[pl]=Klon Impulse Trackera
Exec=schism
Terminal=false
Type=Application
Categories=Audio;Sequencer;
# vi: encoding=utf-8